html {
    font-size: 62.5%;
}

body {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    background-color: #64756D;
}

.inner {
    margin: 0 auto;
    width: 75%;
    max-width: 1000px;
    min-height: 96vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.floor {
    height: 200px;
    background-color: #333;
}