.form {

    &__title {
        margin: 9.5rem auto 2rem;
        font-size: 7rem;
        text-align: center;
        color: #fff;
    }

    &__border {
        padding: 2rem;
        border: 1px solid #fff;
        display: flex;
    }

    &__num {
        margin-bottom: 1.5rem;
        padding: 0.8rem;
        width: 22rem;
        height: 4rem;
        border: 1px solid #fff;
        color: #fff;
        font-size: 2rem;

        &::placeholder {
            color: #ddd;
        }
    }

    &__text {
        margin-right: 2rem;
        padding: 0.8rem;
        width: 34rem;
        height: 4rem;
        background-color: #64756d;
        border: 1px solid #fff;
        color: #fff;
        font-size: 2rem;

        &::placeholder {
            color: #ddd;
        }
    }

    &__addition {
        width: 10rem;
        height: 4rem;
        font-size: 2rem;
        background-color: #3fa9f5;
        color: #fff;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .2);
    }

    &__bottom {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    &__reflect {
        width: 200px;
        height: 5rem;
        background-color: #ff7abc;
        color: #fff;
        font-size: 3rem;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .2);
    }

    &__subject {

        &__list {
            margin-top: 2rem;
            padding-bottom: 20px;
            width: 740px;
            display: flex;
            flex-wrap: wrap;
        }

        &__listitem {
            margin: 0 1rem 0.5rem 0;
            padding: 0.5rem 1rem;
            border: 1px solid #fff;
            border-radius: 100px;
            display: flex;
            align-items: center;
            color: #fff;
            font-size: 1.2em;
            line-height: 0.5em;
            cursor: pointer;

            &__text {
                margin-left: 0.5rem;
            }
        }
    }


}